{% extends '_base.html' %}

{% load range_tag %}

{% block title %}Comparison: #{{ obj.id }} / {{ obj.title }}{% endblock %}

{% block content %}
<div class='pt_section'>
  <h3 class='pt_collapse expanded' data-toggle="collapse" data-target="#summary">Summary</h3>
  <div class='collapse in' id='summary'>
    <ul>
      {% for job in jobs %}
        <li>Job #{{ forloop.counter }}: <a href='/{{ project.id }}/job/{{ job.id }}'>{{ job }}</a></li>
      {% endfor %}
    </ul>
    <div class='container'>
      <a class='pt_collapse collapsed' data-toggle="collapse" data-target="#details" href='#'>more details</a>

      <div class='collapse container' id='details'>
        <h4>Comparison: {{ obj }}</h4>
        <div id='comparison_details'>...<br><br></div>
        {% for job in jobs %}
            <h4>Job: {{ job }}</h4>
            <div class='container'><div id='job_details_{{ job.id }}'></div></div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% comment %}

Principal decision is not to use REST api to render comparisons, because:
1. comparisons are heavy so it is preferable to cache rendered HTML
2. it is pretty hard to join results:
   2.a need custom serializer, standard datatable-view will not work
   2.b need custom data join in ORM (join multiple tests from different jobs)

So we will use static HTML with couple tricks:
- group selector will be enabled
- tables with equal tag and different category:
  |- chart will be drawn by default
  |- table will be hidden by default
  `- table will have 20 items per page by default
- tables with unique rows:
  |- chart will be hidden by default
  `- table will be shown with full length by default
- datatable search will not work (will be disabled)
- charts will be rendered after scrolling down to it (and plus 3 charts above and 3 below)

{% endcomment %}

{% for g_tag, g in cmp_view.groups.items %}
<!--  <div class="graphs_container">-->
  <h3 class='perftracker_groups graphs_container' id="perftracker__group_{{ g.id }}"><a id='g_{{ g.id }}'>{{ g.group_obj.title }}</a> <i class="fa fa-caret-down"></i></h3>
    <div class='collapse in perftracker__group perftracker__group_opened' id='data_{{ g.id }}'>
    {% for s_tag, s in g.sections.items %}
      <div class="group_content" id="group_content_{{ g.id }}_{{ s.id }}">
      <span>
        <input type="checkbox" class="perftracker__group_graph-checkbox" id="graph-checkbox_{{ g.id }}_{{ s.id }}">
        <label class="perftracker__group_graph-checkbox_label" for="graph-checkbox_{{ g.id }}_{{ s.id }}">
          <h4 style="display: inline">{{ s.title }}</h4>
        </label>
        <span style="float: right">
          <a href='#g_{{ g.id }}' title="Section Top">
            <span class="glyphicon glyphicon-menu-up"/>
          </a>
          <a href='#s_{{ g.id }}_{{ s.id }}' id='s_{{ g.id }}_{{ s.id }}' title="Permanent Link">
            <span class="glyphicon glyphicon-link"></span>
          </a>
        </span>
      </span>
      {% spaceless %}
      {% if s.chart_type != PTCmpChartType.NOCHART %}
        <div class='container collapse in pt_div_cmp'>
          <div id="chart_{{ g.id }}_{{ s.id }}" class='pt_chart'>Loading chart...</div>
        </div>
      {% endif %}
      {% if s.table_type == PTCmpTableType.SHOW %}
        <div class='container collapse in pt_div_cmp group__table' id='results_{{ g.id }}_{{ s.id }}'>
          <table id="tests_{{ g.id }}_{{ s.id }}" class="display dataTable" cellspacing="0" width="100%">
            <thead>
              <tr>
              <th colspan='4'></th>
              {% for job in jobs %}
                <th class='pt_job' colspan='{{ forloop.counter0|add:"2" }}'>#{{ forloop.counter }} - {{ job.title }}</th>
              {% endfor %}
              </tr>
              <tr>
              <th class='colExpander'></th>
              <th class='colId'></th>
              <th class='colSeqNum'>#</th>
              <th class='colTag pt_left'>Tag</th>
              {% for job in jobs %}
                <th class='colScore pt_lborder'>Score</th>
                <th class='colDeviation pt_right'>&plusmn;%</th>
                {% range 1:forloop.counter as i %}
                  <th class='colDiff pt_lborder pt_right'>% vs #{{ i }}</th>
                {% endrange %}
              {% endfor %}
              </tr>
            </thead>
          </table>
        </div>
      {% endif %}
      {% endspaceless %}
      </div>
    {% endfor %}
    </div>
<!--    </div>-->
{% endfor %}

<button class="panel__btn_toggle"><i class="fa fa-angle-down"></i></button>
<div class="panel panel_opened">
  <div class="panel__unit_toggle-tables">
    <input class="panel__unit__checkbox_input" type="checkbox" id="checkbox_toggle-tables">
    <label class="panel__unit__checkbox_label" for="checkbox_toggle-tables">
      <h4>Toggle Tables</h4>
    </label>
  </div>
  <div class="panel__unit_toggle-graphs">
    <input class="panel__unit__checkbox_input" type="checkbox" id="checkbox_toggle-graphs">
    <label class="panel__unit__checkbox_label" for="checkbox_toggle-graphs">
      <h4>Toggle Graphs</h4>
    </label>
  </div>
  <div class="panel__unit_show-selected">
    <input class="panel__unit__checkbox_input panel__unit__checkbox_input-not-checked" type="checkbox" id="checkbox_show-selected">
    <label class="panel__unit__checkbox_label" for="checkbox_show-selected">
      <h4>Show Selected Only</h4>
    </label>
  </div>
  <div class="panel__unit_unselect">
    <button type="button" class="panel_unit_unselect-btn"><h4>Unselect All</h4></button>
  </div>
  <div class="panel__unit_go-to">
    <button class="panel__btn_drop">Group...</button>
    <div class="panel_dropup-content">
      {% for g_tag, g in cmp_view.groups.items %}
        {% if g.group_obj.title|length %}
          <a href="#g_{{ g.id }}">{{ g.group_obj.title }}</a>
        {% else %}
          <a href="#g_{{ g.id }}">Undefined</a>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  <div class="panel__unit_arrows">
    <div class="panel_unit_arrows_up arrows_inline">
      <button type="button" class="panel_unit_arrows_up_btn panel__btn_motion"><i class="fa fa-arrow-up"></i></button>
    </div>
    <div class="panel_unit_arrows_down arrows_inline">
      <button type="button" class="panel_unit_arrows_down_btn panel__btn_motion"><i class="fa fa-arrow-down"></i></button>
    </div>
  </div>
</div>

<script>
function pt_test_details_draw_row(title, ar, func)
{
    var s = '<tr><td>' + title + '</td>';
    for (n = 0; n < ar.length; n++)
        s += '<td>' + func(ar[n]) + '</td>';
    return s + '</tr>';
}

function pt_test_details_draw(ar, err_msg)
{
    var s = '';
    var d = ar[0];
    var env_node = d.env_node;
    var vms = d.vms;
    var clients = d.clients;

    s += "<div class='pt_slider' id='test_details_slider_{0}'>".ptFormat(d.id);

    s += "<div class='row'>";

    s += "<div class='col-md-12'>";
    s += "<h4>Test details</h4>";
    s += "<table class='pt_obj_details'>";
    s += "<thead><th>Parameter</th><th colspan='" + ar.length + "'>Values</th></thead></tbody>";
    s += pt_test_details_draw_row('Scores', ar, function(d) { return "{0}".ptFormat(d.avg_score);});
    s += "<tr><td>Metrics</td><td colspan='" + ar.length + "'>" + "{0} ({1})".ptFormat(
           d.metrics, d.less_better ? 'smaller is better' : 'bigger is better') + "</td></tr>";
    s += "<tr><td>Group</td><td colspan='" + ar.length + "'>" + "{0}</td></tr>".ptFormat(d.group);
    s += "<tr><td>Category</td><td colspan='" + ar.length + "'>{0}</td></tr>".ptFormat(d.category);
    s += pt_test_details_draw_row('Cmdlines', ar, function(d) { return "<span class='pt_ellipsis'>{0}</span>".ptFormat(d.cmdline);});
    s += pt_test_details_draw_row('Descriptions', ar, function(d) { return "<span class='pt_ellipsis'>{0}</span>".ptFormat(d.description);});
    s += pt_test_details_draw_row('Raw scores', ar, function(d) { return "{0}".ptFormat(d.scores); });
    s += pt_test_details_draw_row('Errors', ar, function(d) { return "{0}".ptFormat(d.errors); });
    s += pt_test_details_draw_row('Raw deviations', ar, function(d) { return "{0}".ptFormat(d.deviations); });
    s += pt_test_details_draw_row('Test loops', ar, function(d) { return "{0}".ptFormat(d.loops ? d.loops : ''); });
    s += pt_test_details_draw_row('Timing', ar, function(d) { return "{0} - {1}".ptFormat(pt_date2str(d.begin), pt_date2str(d.end)); });
    s += pt_test_details_draw_row('Duration (s)', ar, function(d) { return "{0}".ptFormat(d.duration); });
    s += pt_test_details_draw_row('Links', ar, function(d) { return "{0}".ptFormat(d.links ? pt_draw_links(d.links) : ""); });
    s += "</tbody></table>";
    s += "</div>";

    s += "</div>"; /* row */

    s += "</div>"; /* pt_slider */

    return s;
}

function pt_tests_repopulate(table, group_id)
{
    if (typeof group_id == 'undefined')
        return;

    var link = "/api/v{{ api_ver }}/{{ project.id }}/comparison/{{ obj.id }}/group/{0}/test/".ptFormat(group_id);

    table.ajax.url(link).load(null, true);
}

$(document).ready(function() {
  var id = {{ obj.id }};
  None = undefined;

{% for job in jobs %}
  pt_ajax_job_details('{{ api_ver }}', {{ project.id }}, {{ job.id }});
{% endfor %}
  var testlink = "/api/v{{ api_ver }}/{{ project.id }}/comparison/{{ obj.id }}/group/0/test/";
{% for g_tag, g in cmp_view.groups.items %} {% for s_tag, s in g.sections.items %}
{% if s.chart_type != PTCmpChartType.NOCHART %}
  pt_configure_chart_async('chart_{{ g.id }}_{{ s.id }}', {{ s.chart_type }}, {% if s.has_failures %}true{% else %}false{% endif %},
     {{ s.x_axis_categories|safe }}, '{{ s.x_axis_name }}', '{{ s.x_axis_type }}', {{ s.x_axis_rotate }}, '{{ s.y_axis_name }}', [
{% for serie in s.series %}      { name: '{{ serie.legend|safe }}', data: {{ serie.data|safe }}{% if s.chart_trend_line %}, trend: true{% endif %}},
{% endfor %}     ]);
{% endif %}{% if s.table_type == PTCmpTableType.SHOW %}
  pt_configure_table_async('#tests_{{ g.id }}_{{ s.id }}', {% if s.pageable %}1{% else %}0{% endif %}, testlink, [
{% for t_tag, t in s.tests.items %}      {{ t.table_data|safe }},
{% endfor %}    ]);
{% endif %}
{% endfor %} {% endfor %}

  $('.panel__btn_toggle').click(function () {
    $('.panel').toggle(0);
    if ($('.panel').hasClass('panel_opened')) {
      $('.panel').removeClass('panel_opened').addClass('panel_hidden');
      // $(this).animate({
      //   'bottom': 0
      // }, 0);
      $(this).css({"bottom": "0"});
      $("i.fa.fa-angle-down").replaceWith('<i class="fa fa-angle-up"></i>');
    } else {
      $('.panel').removeClass('panel_hidden').addClass('panel_opened');
      // $(this).animate({
      //   'bottom': '8%'
      // }, 0);
      $(this).css({"bottom": "8%"});
      $("i.fa.fa-angle-up").replaceWith('<i class="fa fa-angle-down"></i>');
    }
  });

  $('#checkbox_toggle-tables').on('change', function() {
    $(this).is(":checked") ? $(".group__table").hide(100) : $(".group__table").show(100);
  });

  $('#checkbox_toggle-graphs').on('change', function() {
    if ($(this).is(":checked")) {
      $(".perftracker__group").hide(100);
      $('i.fa.fa-caret-down').replaceWith('<i class="fa fa-caret-right"></i>');
    } else {
      $(".perftracker__group").show(100);
      $('i.fa.fa-caret-right').replaceWith('<i class="fa fa-caret-down"></i>');
    }
  });

  $('.perftracker_groups').on('click', function () {
    var group_id = '#' + $(this).attr('id');
    var content_id = group_id.replace('perftracker__group', 'data');
    if($(content_id).hasClass('perftracker__group_opened')) {
      $(content_id).removeClass('perftracker__group_opened');
      $(content_id).addClass('perftracker__group_closed');
      $(content_id).hide(100);
      $(group_id + ' > i.fa.fa-caret-down').replaceWith('<i class="fa fa-caret-right"></i>');
    } else {
      $(content_id).addClass('perftracker__group_opened');
      $(content_id).removeClass('perftracker__group_closed');
      $(content_id).show(100);
      $(group_id + ' > i.fa.fa-caret-right').replaceWith('<i class="fa fa-caret-down"></i>');
    }
  });

  $('#checkbox_show-selected').on('change', function() {
    var selectedCheckboxes = $('input[class="perftracker__group_graph-checkbox"]:checked').map(function() {
      var checkbox = $(this).attr('id');
      var selectedContent = '#' + checkbox.replace('graph-checkbox', 'group_content');
      return selectedContent;
    }).get();

    if(selectedCheckboxes.length > 0) {
      if($(this).hasClass('panel__unit__checkbox_input-not-checked')) {
        $('.group_content').hide(100);
        selectedCheckboxes.forEach(function(elem) {
          $(elem + '.group_content').show(0);
        });
        $(this).removeClass('panel__unit__checkbox_input-not-checked');
      } else {
        $('.group_content').show(100);
        $(this).addClass('panel__unit__checkbox_input-not-checked');
      }
    }

    if($(this).prop("checked") == true){
      $('input[class="perftracker__group_graph-checkbox"]').attr("disabled", true);
      $('button[class="panel_unit_unselect-btn"]').attr("disabled", true);
    } else {
      $('input[class="perftracker__group_graph-checkbox"]').removeAttr("disabled");
      $('button[class="panel_unit_unselect-btn"]').removeAttr("disabled");
    }
  });

  $('.panel_unit_unselect-btn').on('click', function() {
    $('input[class="perftracker__group_graph-checkbox"]').prop('checked', false);
  });

  $(window).bind('scroll', function() {
        $('.graphs_container').each(function() {
            var group = $(this);
            var position = group.position().top - $(window).scrollTop();

            if (position <= 0) {
                group.addClass('selected');
            } else {
                group.removeClass('selected');
            }
        });
  });

  $('.panel_unit_arrows_down_btn').on('click', function() {
    $('html, body').animate({ scrollTop: ($('.graphs_container').not('.selected')).offset().top}, 100);
  });

  $('.panel_unit_arrows_up_btn').on('click', function() {
    $('html, body').animate({ scrollTop: ($($('.graphs_container.selected').last()).prev(".perftracker__group").offset().top - 25) + 'px'}, 100);
  });
});
</script>
{% endblock %}
