body {
  margin-bottom: 10px;
}

.form-login {
  padding: 1em;
  min-width: 280px; /* change width as per your requirement */
}

.navbar-brand {
  font-size: 85%;
  width: 100px;
}

a.navbar-brand img {
  height: 20px;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
  margin-top: 12px;
  margin-bottom: 7px;
}

/*
 * Modal window customization
 */

.modal-title {
  margin: 0px;
}

.modal {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.modal-header {
  background-color: #3072ab;
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.modal-header button.close {
  color: #ccc;
  opacity: 1;
}

.modal-header a {
  color: #eee;
  text-decoration: underline;
}

.modal-header a:hover {
  color: #fff;
}

/*
Styles for bottom panel
 */
.panel {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: center;

  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0.7);
  border-radius: 0;
  left: 0;
  bottom: 0;
  color: white;
  height: 8%;
  margin: 0;
}

.panel > div {
  text-align: center;
}

.panel h4 {
  margin: 0;
}

.panel__unit_toggle-tables {
  grid-area: 1/1/2/2;
}

.panel__unit_toggle-graphs {
  grid-area: 2/1/3/2;
}

.panel__unit_show-selected {
  grid-area: 3/1/4/2;
}

.panel__unit_unselect {
  grid-area: 3/2/4/3;
}

.panel__unit_go-to {
  grid-area: 1/3/2/4;
}

.panel__unit_arrows {
  grid-area: 2/3/4/4;
}

.arrows_inline {
  display: inline;
  border: 1px solid white;
  padding: 7px 9px;
  margin: 3px;
}

.panel__btn_toggle {
  position: fixed;
  bottom: 8%;
  right: 2%;
  width: 4%;
  height: 2%;
  border: 1px solid black;
  background-color: white;
}

/* Styles for GoTo button */

.panel__btn_drop {
  background-color: transparent;
  color: white;
  padding: 0;
  font-weight: 500;
  font-size: 13px;
  border: none;
}

.panel_dropup-content {
  display: none;
  position: absolute;
  font-weight: bold;
  bottom: 95%;
  right: 12%;
  background-color: rgba(0, 0, 0, 0.5);
  min-width: 200px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
  width: 10%;
  height: 300%;
  overflow-y: auto;
}

.panel_dropup-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 1.5rem;
}

.panel_dropup-content a:hover {background-color: rgba(0, 0, 0, 0.3)}

.panel__unit_go-to:hover .panel_dropup-content {
  display: block;
}

.panel__unit_go-to:hover .panel__btn_drop{
  background-color: grey;
  color: black;
}

/* end of GoTo button styles */

















